{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polls Application</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to the Polls Application!</h1>
        <nav>
            <ul class="nav">
                <li><a href="{% url 'polls:home' %}">Home</a></li>
                <li><a href="{% url 'polls:home' %}">Results</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% if latest_question_list %}

        <section class="poll-list">
            {% for question in latest_question_list %}
                <div class="poll-card">
                    <a href="{% url 'polls:detail' question.id %}">
                        <h2>{{ question.question_text }}</h2>
                    </a>
                </div>
            {% endfor %}
        </section>

        {% else %}
        <section class="no-polls">
            <p>No polls are available. Check back later to participate in new polls!</p>
        </section>
        {% endif %}
    </main>
{#    {{ barchart }}#}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons@latest/iconfont/tabler-icons.min.css">
    {% block extra_footer_js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
    {% endblock %}
    <footer>
        <p>© 2024 Polls Application. All Rights Reserved.</p>
    </footer>
</body>
</html>
